*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body{
    color: gray;
    width: 90%;
    margin: 0 auto;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
}

button{
    margin-top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: brown;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    border: none;
    
}


#offClick{
    background-color: gray;
}


